@media (min-aspect-ratio: 1/1) {
  /* ----------------------  SEARCH BAR  ---------------------- */
  #search-bar {
    height: 75px;
    background-color: rgb(78,76,76);
    padding-left: 25vw;
    display: flex;
    align-items: center;
  }


  /* ----------------------  NAVIGATION  ---------------------- */
  nav {
    position: absolute;
    background-color: rgb(234,195,168);
    width: 20vw;
    margin-left: 5vw;
    border-radius: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: -100px;
  }

  nav > ul {
    list-style: none;
  }
  
  nav > ul > li:hover {
    background-color: rgb(36,36,36);
    color: white;
  }

  /* ----------------------  POST  ---------------------- */
  .post {
    background-color: rgb(234,195,168);
    width: max(67vw, min(1000px, 71vw));
    height: 200px;
    border-radius: 20px;
    margin: 20px auto 20px 27vw;
    padding: 0px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: relative;
  }

  .post > .date {
    text-align: center;
    width: 100px;
  }

  .post > .main {
    display: flex;
    flex-direction: row;
  }

  .post > .main > .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
  }

  .post > .main > .icon {
    border-radius: 100%;
    width: 100px;
    min-width: 100px;
    height: 100px;
    /* background-color: rgb(36,36,36); */
    font-size: 50px;
    color: white;
  }

  .post > .number-stars {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .post > .number-stars > img:nth-of-type(1) {
    width: 50px;
    height: 50px;
  } 

  .post > .number-stars > img:nth-of-type(2) {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
  }



  /* ----------------------  MODAL  ---------------------- */
  /* ------------  DESCRIPTION  ------------ */
  #service > h2, #service-details > h2 {
    margin-top: 50px;
    font-size: 35px;
  }

  #service-description {
    margin-top: 10px;
    font-size: 28px;
    height: 20%;
  }

  /* ------------  DETAILS + APPLY CONTAINER ------------ */
  #service-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* ------------  DETAILS  ------------ */
  #service-details > ul {
    display: flex;
    flex-flow: column wrap;
    width: 43%;
    max-height: 250px;
  }

  .service-detail {
    display: flex;
    flex-direction: row;
    width: 20vw;
    align-items: center;
    overflow: hidden;
    height: 50px;
    margin-top: 20px;
  }

  /* ------------  APPLY  ------------ */
  #service-apply {
    width: 40%;
  }

  #service-apply > .number-stars {
    display: flex;
    flex-direction: row;
  }

  #service-apply > button {
    width: 100%;
    height: 80px;
    background-color: rgb(34,34,34);
    color: rgb(234,195,168);
    font-size: 37px;
    border-radius: 25px;
  }
}