
/* ----------------------  SERVICE  ---------------------- */
/* ------------ FORM ------------ */
.form-content{
  margin: auto;
  padding: 20px;
  width: 50%;
}
.container {
  padding: 20px;
  border: 10px ridge rgb(234,195,168);
  background:rgb(47 47 47);
}

input[type=text], input[type=password], input[type=number] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background: white;
  color:#242424;
}
input[type=date]{
  padding: 15px;
  margin: 5px 10px 22px 0;
  color:#242424;
  width:45%;
}
#message{
 height:auto;
  padding: 15px;
  margin: 5px 10px 22px 0;
  color:#242424;
  width:95%;
  resize:vertical;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=date]:focus, #message:focus{
  background-color: #ddd;
}

.realisation-date{
  display: inline table;
  padding: 0 15px;
}

.location{
  display:flex;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.submit-btn:hover {
  opacity: 1;
}

/* ------------  DROPDOWN ------------ */

.dropdown-container{
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
}

.dropdown-container:focus{
  border: 2px solid dodgerblue;
  background: #ddd;
}

.search-dropdown *{
  color:#242424;
}

.search-dropdown {
  position: relative;
  min-width: 300px;
  width:35%;
}

.search-dropdown:after {
  content: '\25bc';
  color: #6f6f6f;
  right: 11px;
  top: 18px;
  padding: 0 0 2px;
  border-left: 1px solid #999;
  padding-left:10px;
  position: absolute;
  pointer-events: none;
}

.search-dropdown select {
  /*cache la fleche par defaut*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width:100%;
  float: right;
}



