
/* ----------------------  GESTION  ---------------------- */
/* ------------ My Account ------------ */
.container {
  padding: 20px;
  border: 10px ridge rgb(234,195,168);
  background:rgb(47 47 47);
}

.gestion-content{
  margin: auto;
  padding: 20px;
  width: 50%;
}

.profile-header > .profile-content > .profile-icon {
  border-radius: 100%;
  width: 100px;
  min-width: 100px;
  height: 100px;
  background-color: wheat;
}

.profile-header{
  border:1px solid white;
  padding:13px;
  display:flex;
}
.profile-icon{
  margin:7px 12px;
}
.my-annonce{
	margin: auto 50px auto auto;
}
  
.my-annonce-btn {
  background-color: #242424;
  padding: 16px 15px;
  border: 1px solid dodgerblue;
  width:250px;
  opacity: 0.9;
}

.my-annonce-btn:hover {
  opacity: 1;
}
.main-row-content {
  display:flex;
}

.row-element{
  background-color: #60b1a8;
  color: white;
  padding: 44px 35px;
  border: none;
  opacity: 0.9;
  border-radius: 5%;
  margin:17px;
  width:100%;
  cursor:pointer;
  text-decoration:none;
}
.row-element:hover{
  opacity:1;
  box-shadow: 0 0 48px 0 rgb(167,167,167,0.25);
}
