
.container {
  padding: 20px;
  border: 10px ridge rgb(234,195,168);
  background:rgb(47 47 47);
}

.gestion-content{
  margin: auto;
  padding: 20px;
  width: 50%;
}

.profile-header > .profile-content > .profile-icon {
  border-radius: 100%;
  width: 100px;
  min-width: 100px;
  height: 100px;
  background-color: wheat;
}

.profile-header{
  border:1px solid white;
  padding:13px;
  display:flex;
}
.profile-icon{
  margin:7px 12px;
}
.user-name{
  padding: 5px;
}
input[type=text]{
  padding: 7px;
  margin: 10px 0 0;
  border: 1px solid #ccc;
  background: white;
  color:#242424;
  border-radius: 7px;
}
input[type=text]:focus{
  background-color: #ddd;
}